
    <table class="table">
      <tbody>
        <tr>
          <td>Diagonal</td>
          <td>{{ product.diagonal }}</td>
        </tr>
        <tr>
          <td>Display</td>
          <td>{{ product.display }}</td>
        </tr>
        <tr>
          <td>Resolution</td>
          <td>{{ product.resolution }}</td>
        </tr>
        <tr>
          <td>Battery</td>
          <td>{{ product.battery }}</td>
        </tr>
        <tr>
          <td>Ram</td>
          <td>{{ product.ram }}</td>
        </tr>
        <tr>
          <td>Storage</td>
          <td>{{ product.storage }}</td>
        </tr>
        <tr>
          <td>SD support</td>
          <td>{{ product.sd }}</td>
        </tr>
        <tr>
          <td>Rear cam</td>
          <td>{{ product.rear_cam }}</td>
        </tr>
        <tr>
          <td>Front cam</td>
          <td>{{ product.front_cam }}</td>
        </tr>
      </tbody>
    </table>
